
    .header-bottom-icon .form-group {

      margin-bottom: .5rem;
    }


    .text {
      margin: 0;
      font-size: 15px !important;
      color: #FFF !important;
      line-height: 1.5 !important;
      font-weight: 600;
    }

    .input-group-text {
      padding: 5px;
      color: #002147;
      text-align: center;
      white-space: nowrap;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-right: none;
    }

    .faq-area-form form input {
      border: 1px solid #e9e9e9;
      border-left: none;
      padding-left: 7px;

    }

    .form-control:focus {
      border-color: #ced4da;
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5);
    }
 .main-menu ul li ul.submenu{
  z-index: 9999;
}
.main-menu ul li ul.submenu li a {
    color: #000;
    display: block;
    padding: 8px 15px;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
}
   .main-menu ul li ul.submenu li a:hover {
    color: #FFF;
    background: #ec2025;
} 
      .main-menu ul li:hover > ul.submenu-mega {
    opacity: 1;
    visibility: visible;
      /*top: 102%;*/
}

.main-menu ul li ul.submenu-mega {
    position: absolute;
    left: -200px;
    opacity: 0;
    top: 102%;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    border:1px solid #E6E6E6;
    width: auto;
    min-width:900px;
    z-index: 9999;
    padding: 5px;
    padding-left: 30px;
    /*height: 400px;*/
    column-count:auto;
column-width: 223px; 
/*column-gap: 30px;*/
background: #FFF;


}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;

  }
  .main-menu ul li ul.submenu-mega li{

 }
.main-menu ul li ul.submenu-mega li a{
    display: inline-block!important;
    font-size: 14px;
    font-weight: 500;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-align: left!important;
    letter-spacing: 1px;
    width: 270px;
    float: left;
  }
   
.main-menu ul li ul.submenu-mega li a:first-child{border-bottom: 1px solid #E6E6E6; font-weight: 600!important;}

.main-menu ul li ul.submenu-mega li:hover a{color:#fff!important ;}


.main-menu ul li ul.submenu-mega li:hover a:hover{color:#fff!important ;}


@media only screen and (min-width: 768px) and (max-width: 999px){
.submenu-mega{column-count: 1;top: 0%;}
.submenu-mega li a{padding: 5px 10%!important;}   
.main-menu ul li ul.submenu-mega li a:hover{color:#fff!important ;}
}
   
@media only screen and (min-width: 640px) and (max-width: 767px){
.star-rating {
     display: inline-block;
    float: right;
    margin-top: -28px;
    width: 100%;
    float: right;
    padding: 1px 18px;
    text-align: right;
}
.submenu-mega{column-count: 1;top: 0%;}
.submenu-mega li a{padding: 5px 10%!important;}   
.main-menu ul li ul.submenu-mega li a:hover{color:#fff!important ;}
}


@media only screen and (min-width: 480px) and (max-width: 639px){
.star-rating {
     display: inline-block;
    float: right;
    margin-top: -28px;
    width: 100%;
    float: right;
    padding: 1px 18px;
    text-align: right;
}
.submenu-mega{column-count: 1;top: 0%;}
.submenu-mega li a{padding: 5px 10%!important;}   
.main-menu ul li ul.submenu-mega li a:hover{color:#fff!important ;}

}
@media only screen and (max-width: 479px){
.star-rating {
     display: inline-block;
    float: right;
    margin-top: -28px;
    width: 100%;
    float: right;
    padding: 1px 18px;
    text-align: right;
}
.submenu-mega{column-count: 1;top: 0%;}
.submenu-mega li a{padding: 5px 10% !important;}   
.main-menu ul li ul.submenu-mega li a:hover{color:#fff!important ;}
}